<header
  *ngIf="fields"
  class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 text-sm text-gray-900"
>
  <h2 class="ml-0.5" title="symbol">
    {{ fields.symbol }}
  </h2>
  <h1 class="text-2xl leading-6 mb-1" title="company name">
    {{ fields.companyName }}
  </h1>
  <h3 class="inline-block mr-4" style="margin-left: -0.1em">
    <span class="text-5xl font-bold mr-0.5" title="open">{{
      fields.open
    }}</span>
    <span class="font-bold" title="currency">{{ fields.currency }}</span>
  </h3>
  <ul class="mt-0 text-gray-600 ml-0.5 inline-flex">
    <li class="mr-2" title="change">
      {{ fields.change > 0 ? "+" : "" }}{{ fields.change | currency: "":"" }}
    </li>
    <li class="mr-2" title="change percent">
      {{ fields.changePercent | number: "1.2" | positiveNegativeSymbol }}%
    </li>
  </ul>
  <ul class="mt-2 text-gray-600 ml-0.5">
    <ul class="mb-0.25">
      <li class="mr-2" title="exchange">
        {{ fields.exchange }}
      </li>
      <li class="mr-2" title="country">
        {{ fields.country }}
      </li>
    </ul>
    <li class="mr-2" title="latest trading day">
      Closed: {{ fields.latestTradingDay | date: "MMM d, h:mm a zzzz" }}
    </li>
  </ul>
</header>
