<header>
  <section
    class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 text-sm text-gray-900"
  >
    <h2 class="ml-0.5" title="symbol">APPL</h2>
    <h1 class="text-2xl leading-6 mb-1" title="company name">Apple Inc</h1>
    <h3 class="inline-block mr-4" style="margin-left: -0.1em">
      <span class="text-5xl font-bold mr-0.5" title="open">132.90</span>
      <span class="font-bold" title="currency">USD</span>
    </h3>
    <ul class="mt-0 text-gray-600 ml-0.5 inline-flex">
      <li class="mr-2" title="change">+0.47</li>
      <li class="mr-2" title="change percent">+0.36%</li>
    </ul>
    <ul class="mt-2 text-gray-600 ml-0.5">
      <ul class="mb-0.25">
        <li class="mr-2" title="exchange">NASDAQ</li>
        <li class="mr-2" title="country">United States</li>
      </ul>
      <li class="mr-2" title="latest trading day">
        Closed: May 7, 7:59:58 PM UTC - 4
      </li>
    </ul>
  </section>
</header>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <!-- Replace with your content -->
    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
    </div>
    <!-- /End replace -->
  </div>
</main>
